.todoImageDarkDesktop{
    background-image: url('../../assets/images/bg-desktop-dark.jpg');
}

.todoImageLightDesktop{
    background-image: url('../../assets/images/bg-desktop-light.jpg');
}

.icon_content{
    cursor: pointer;
}