:root {
    /**Layout*/
    --Mobile: 375px;
    --Desktop: 1440px;

    /*Colors*/
      /**Primary*/

    --Bright_Blue: hsl(220, 98%, 61%);
    --Check_Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    
    /**Neutral*/
    /**Light Theme*/

    --Very_Light_Gray: hsl(0, 0%, 98%);
    --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
    --Light_Grayish_Blue: hsl(233, 11%, 84%);
    --Dark_Grayish_Blue: hsl(236, 9%, 61%);
    --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);

    /**Dark Theme*/
    --Very_Dark_Blue: hsl(235, 21%, 11%);
    --Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
    --Light_Grayish_Blue: hsl(234, 39%, 85%);
    --Light_Grayish_Blue_Hover: hsl(236, 33%, 92%);
    --Dark_Grayish_Blue: hsl(234, 11%, 52%);
    --Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
    --Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);

    --Big_Weight: 700;
    --Small_Weigth:400;
  } 



    body {
      font-size: 11px;
      font-weight: 400;
    }

    input:checked{
      background-color: blue;
    }

    input:hover{
      background-color: var(--Check_Background);
    }

    .todo{
      background-color: brown;
    }

    .attribution { font-size: 11px; text-align: center;  }
    .attribution a { color: hsl(228, 45%, 44%); cursor: pointer;}
    .attribution a:hover { color: whitesmoke; cursor: pointer;}

    .center-screen {
      justify-content: center;
      align-items: center;
    }

    .align-flex-start {
      align-items: flex-start;
    }

    .column {
      flex-direction: column;
    }

    .container {
      display: flex;
      margin: 5px;
      border: 1px dotted black;
    }

    .todoImageLightDesktop{ 
      background-image: url('../../assets/images/bg-desktop-light.jpg');
      background-color: var(--Check_Background);
    }

    .todoImageDarkDesktop{
      background-image: url('../../assets/images/bg-desktop-dark.jpg');
      background-color: #000
    }
/*--Align-itemns*/
    .justify.space-between {
      justify-content: space-between;
    }

    .container2 {
      display:flex  }
/*
    .flex-grow {
      
      .item1 {
        flex-grow: 3;
      }
      .item2 {
        flex-grow: 2;
      }
      .item3 {
        flex-grow: 2;
      }
      .item4 {
        flex-grow: 2;
      }
      .item5 {
        flex-grow: 3;
      }
    }*/
    