//--Size
$Big_Weight: 700;
$Small_Weigth:400;

$font_size: 11px;
$font_weight: 400;

//--Base Color
$Bright_Blue: hsl(220, 98%, 61%);
$Check_Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//--Layout
/**Layout*/
$Mobile: 375px;
$Desktop: 1440px;