$Very_Dark_Blue_D: hsl(235, 21%, 11%);
$Very_Dark_Desaturated_Blue_D: hsl(235, 24%, 19%);
$Light_Grayish_Blue_D: hsl(233, 11%, 84%);
$Light_Grayish_Blue_Hover_D: hsl(236, 33%, 92%);
$Dark_Grayish_Blue_D: hsl(234, 11%, 52%);
$Very_Dark_Grayish_Blue_D: hsl(233, 14%, 35%);
$Very_Dark_Grayish_Blue_Hover_D: hsl(237, 14%, 26%);